<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- Spring: Instanciar objetos con XML
	<bean id="agendaService" class="service.AgendaServiceJdbcImpl">
	</bean> -->
	
	<!-- Permitir configuración basada en anotaciones 
	Añadimos en que paquete se encuentran las anotaciones de implementacion-->
	<context:annotation-config/>
	<context:component-scan base-package="service"/>
</beans>
